{% extends 'base.html.twig' %}

{% block title %}Trajet Passer{% endblock %}

{% block body %}
<h1>Trajet Passer</h1>
{% for trip in trips %}
    <p> <span class="bold">Départ :</span> {{ trip.trip.addressStart }}</p>
    <p><span class="bold">Arrivée :</span> {{ trip.trip.addressEnd }}</p>
    <p><span class="bold">Date :</span> {{ trip.trip.date }}</p>
    <a href="{{ path('profile_comment', {'id': trip.trip.id}) }}">Laisser un commentaire</a>
    <br>
    <br>
{% endfor %}
{% endblock %}