{% extends 'base.html.twig' %}

{% block title %}Prochain Trip{% endblock %}

{% block body %}
<h1>Prochain Trajet</h1>
{% for trip in trips %}
    <p> <span class="bold">Départ :</span> {{ trip.trip.addressStart }}</p>
    <p><span class="bold">Arrivée :</span> {{ trip.trip.addressEnd }}</p>
    <p><span class="bold">Date :</span> {{ trip.trip.date }}</p>
    <a href="{{ path('trip_show', {'id': trip.trip.id}) }}">Info</a>
    <br>
    <br>
{% endfor %}
{% endblock %}
