html, body {
  height: 100%;
  margin-bottom: 5rem;
  background-color: #FFFFFF;
}

h3 {
  color: #15534a;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

a {
  text-decoration: none;
}

hr {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

// Header navbar //

.navbar {
  background-color: #FFFFFF;
  padding: 0;
}
.cowoit-logo {
  margin: 0 1em;
  padding: 0% 1% 0 0%;
  width: 8em;
}
.navbar-profile {
  list-style-type: none;
}

.profile-icon {
  overflow: hidden;
  width: 50px;
  height: 50px;
  margin: 0 0.2em;
  padding: 0% 1% 0 0%;
  font-size: 3em !important;
}

.photo-profile-bar {
  overflow: hidden;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin: 0 1em;
  padding: 0% 1% 0 0%;
  object-fit: cover;
}
// Navbar footer - mobile //

.navbar-footer {
  position: fixed;
  padding-top: 0.5em;
  bottom: 0;
  width: 100%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
  display: flex;
  overflow-x: auto;
  justify-content: space-evenly;
}

.navbar-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
  color: #FFFFFF;
}

.material-icons {
  color:  #32baa6;
  font-size: 2.5em;
}

.navbar-caption {
  color: #32baa6;
}

.navbar ul {
  margin-bottom: 0;
}

.title {
  text-align: center;
  color: #2ea393;
  font-weight: bold;
}

// Login page //

.login-title { 
  font-family: 'Montserrat', sans-serif;
  font-size: 7vw;
  font-weight: bold;
  color: #fff;
  text-shadow: 3px 3px 8px #0c4338;
  position: absolute;
}

// Register page //

.register-title { 
  font-family: 'Montserrat', sans-serif;
  font-size: 7vw;
  font-weight: bold;
  color: #fff;
  text-shadow: 3px 3px 8px #0c4338;
  position: absolute;
  padding-top: 1em;
}


// Index/search page //

.search-form {
  margin-top: -2.8em;
}

.carpool-illustration {
  width: 100%;
}

.presentation-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 7vw;
  font-weight: bold;
  position: absolute;
  top: 12%;
  padding: 0.5em 0.5em;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  text-shadow: 1px 2px 5px #24695c;
  text-align: center;
}

.search a {
  display: block;
  width: 75%;
}

.search {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 100px;
}

.driver-information-search {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 2em;
}

.driver-photo {
  width: 50px !important;
  height: 50px !important;
}

.profile-search {
  text-align: center;
  border-radius: .25rem;
}

.cardForm {
  box-shadow: 1px 1px 15px rgb(201, 201, 201);
  color: #2ea393;
  font-weight: 500;
  padding-top: 3vw;
  padding-bottom: 0.01vw;
}

.spaceCard {
  margin-bottom: 5vw;
}

.driver-name {
  margin-left: 1rem;
}

// New trip section //

.new-trip-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 7vw;
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: 1px 1px 5px black;
  position: absolute;
}
.new-trip-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.new-trip-form {
  margin-top: -2.5em;
}

// Forms //

.row {
  margin: 0;
}

.login-form {
  margin-top: -2.8em;
}

.register-form {
  padding-bottom: 5em;
}

.edit-password-form {
  padding-top: 4em;
}

.form-card{
  margin-top: 1.5em;
}

.form-card a {
  color: #212529;
}

.button {
  background-color: #32baa6;
  color: #ffffff;
  border-radius: 5px;
  padding: 0.5em 2em;
  border: 2px solid #32baa6;
  font-weight: bold;
}

.card ul {
  list-style: none;
  width: 100%;
  padding: 0;
}

// Profile - mobile //

.profile {
  text-align: center;
  margin-bottom: 8em;
}

.trip a {
  margin-bottom: 10px;
  text-align: center;
  width: 75%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1.5rem;
}

.trip {
  margin-top: 2rem;
  margin-bottom: 6rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.profile-card {
  margin-bottom: 6em !important;
}

.profile h1 {
  margin-bottom: 1.6em;
  color: #2ea393;
  font-weight: bold;
}

.photo-profile {
  overflow: hidden;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  margin-bottom: 1rem;
}

.user-biography {
  margin-top: 1rem;
}

.profile-user-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 7vw;
  font-weight: bold;
  color: #2ea393;
}

.profile-appreciation {
  color: #15534a;
  font-weight: bold;
}
.profile-appreciation p {
  display: flex;
  justify-content: center;
  align-content: center;
}

.appreciation-star {
  color: #32baa6;
  font-size: 22px;
  margin-right: 5px;
}
.disconnect-button {
  background-color: #349486;
  border: none;
}

// Trip search result section //

.car-icon {
  font-size: 10rem;
}

// User - My trips section //

.driver-trips {
  text-align: center;
  margin-bottom: 4em;
}

.driver-trips-info-block {
  text-align: center;
}

.driver-trips h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 7vw;
  font-weight: bold;
  color: #fff;
  text-shadow: 6px 4px 8px #0c4338;
  position: absolute;
  padding-bottom: 2em;
}

// User - Passed trips section //

.passed-trips {
  text-align: center;
  margin-bottom: 4em;
}

.passed-trips-block {
  padding-top: 2em;
}

.passed-trips h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 7vw;
  font-weight: bold;
  position: absolute;
  text-shadow: 3px 3px 8px #0c4338;
  color: #FFFFFF;
  padding-top: 4em;
}

// User - Next trips section //

.next-trips {
  text-align: center;
  margin-bottom: 4em;
}
.next-trips h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 7vw;
  font-weight: bold;
  position: absolute;
  text-shadow: 6px 4px 8px #0c4338;
  color: #FFFFFF;
}

// Trip comment section //

.passengers-comments {
  text-align: center;
  margin-bottom: 4em;
}

.passengers-comments-block {
  padding-top: 3em;
}

.passengers-comments h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 7vw;
  font-weight: bold;
  position: absolute;
  text-shadow: 3px 3px 8px #0c4338;
  color: #FFFFFF;
  padding-top: 5.2em;
}

.passenger-photo {
  width: 50px;
  height: 50px;
}

.appreciation-user-block {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 2em;
}

.appreciation-section {
  text-align: start;
  margin-left: 2rem;
}

.user-appreciation {
  margin: 0;
}

.user-comment-date {
  font-size: 1em;
  font-weight: bold;
  color: #726f6f;
}

.bold {
  color: #15534a;
  font-weight: bold;
}

