{% block footer %}
    <nav class="navbar-footer">
        <a href="{{ path('trip_map') }}" class="navbar-link">
        <i class="material-icons navbar-icon">ev_station</i>
        <span>Charge map</span>
        </a>
        <a href="#" class="navbar-link">
        <i class="material-icons navbar-icon">search</i>
        <span>Rechercher</span>
        </a>
        {% if app.user %}
        <a href="{{ path('trip_new') }}" class="navbar-link">
            <i class="material-icons navbar-icon">electric_car</i>
            <span>Trajets</span>
        </a>
        <a href="{{ path('profile', {'id': app.user.id}) }}" class="navbar-link">
            <i class="material-icons navbar-icon">account_circle</i>
            <span>Profil</span>
        </a>
        {% else %}
        <a href="{{ path('app_login') }}" class="navbar-link">
            <i class="material-icons navbar-icon">account_circle</i>
            <span>Connexion</span>
        </a>
        {% endif %}
    </nav>
{% endblock %}