{% block footer %}
    <nav class="navbar-footer">
        <a href="{{ path('trip_map') }}" class="navbar-link">
        <i class="material-icons">ev_station</i>
        <span class="navbar-caption">Charge map</span>
        </a>
        <a href="#" class="navbar-link">
        <i class="material-icons">search</i>
        <span class="navbar-caption">Rechercher</span>
        </a>
        {% if app.user %}
        <a href="{{ path('trip_new') }}" class="navbar-link">
            <i class="material-icons">add_box</i>
            <span class="navbar-caption">Trajets</span>
        </a>
        {% else %}
        {% endif %}
    </nav>
{% endblock %}