{% block header %}
    <div class="navbar">
        <a href="/"><img src="{{ asset('build/images/cowoitLogo.png') }}" alt="cowoit logo" class="cowoit-logo"/></a>
        <ul>
            <li class="navbar-profile">
                <a href="/profile" class="navbar-link">
                    <i class="material-icons profile-icon">account_circle</i>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}